#chat-window {
  display: flex;
  flex-direction: column;
  flex: 1;

  #chat-messages {
    flex: 1;
    display: flex;
    flex-direction: column;

    max-height: calc(-4em + 100vh);
    overflow-y: scroll;
    padding-bottom: 1em;

    article {
      margin: 0;
    }

    .system {
      font-style: italic;
      text-align: right;
    }
  }
}

#chat-form {
  input {
    width: calc(100%);
    border-radius: 0;
  }
}
