#player {
  --chat-width: 40ch;

  display: flex;
  flex-direction: row;
  max-width: 100vw;
  max-height: 100vh;

  #video-container {
    flex-grow: 1;
    flex-shrink: 1;
    background: black;

    video {
      display: block;
      height: 100%;
      width: 100%;
      object-fit: contain;
    }

    &:has(.video-status) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  #chat-resizer {
    min-width: 8px;
    height: 100%;
    cursor: ew-resize;
    padding: 0 0.5em;

    &::before {
      display: inline-block;
      content: " ";
      height: 100%;
      width: 2px;
    }
  }

  #chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh;

    flex-grow: 0;
    flex-shrink: 1;

    flex-basis: var(--chat-width);
    min-width: var(--chat-width);

    padding: 1em;
    padding-left: 0;
    padding-top: 0.5em;
  }
}
